/*Screen {
    align: center top;
}*/

#scroll_area {
    /*height: 90vh; /* Limita la altura para forzar el scroll */
    overflow-y: auto; /* Activa el scroll si el contenido es mayor */
    border: solid 1px gray; /* Para visualizar los límites */
}


.url_container {
    align: center top;
    height: 6;
    padding: 1;
}
.center_all {
    align: center top;
}
.center_m {
    align: center middle;
}
Select {
    align: center top;
   /* width: 90; */
    margin: 1;
} 


.box {
    width: 40;
    height: 5;
    margin: 1;
    padding: 1;
    background: green;
    color: white 90%;
    border: heavy white;
}

.grid {
    align: center top;
    margin: 1;
    padding: 0;
    width: 95;
    height:30;
    border: heavy rgba(0, 0, 0, 0);
}

/* Button {
    margin: 1 2;
    
} */


/* #container {
    border: heavy red;
} */

.container {
    align: center top;
}

.select {
    align: center top;
    width: 80;
    margin: 2;
}
